*{
    color: white;
}

.gato {
    background-color: red;
}

.preto {
    background-color: green;
}

.logo {
    width: 150px;
    height: 112.5px;
}

.nav {
    background-color: #273553;
}

body {
    background-color: #273553;
    font-family: "MADE TOMMY";
}

@font-face {
    font-family: "MADE TOMMY";
    src: url("Assets/Fonts/Fonte123.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


#sobre {
    background-color: #273553;
}

#gamejamLogo {
    width: 150px;
    height: 112.5px;
}

#instagramLogo {
    width: 40px;
    height: 40px;
    margin-top: 10rem;
}

h5 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ef7495;
}

